<h2>Viewing Collection <%=  @collection.id %> </h2>
<%
def group_child_to_json(child)
  if child.name == "item" || child.name == "group"
    json = {"name" => child.name + ": "+child["name"], "type" => child.name, "icon" => child["icon"] }
  end
  if child.name == "group" && child.children?
    json["children"] = []
    child.children.each do | c |
      if c.name == "item" || c.name == "group"
        json["children"] << group_child_to_json(c)
      end
    end
  end
  json
end

def child_to_json(child)
  if child.name == "item" || child.name == "group"
    json = {"name" => child.name + ": "+child["name"], "type" => child.name, "icon" => child["icon"] }
  end
  if child.name == "group" && child.children?
    json["children"] = []
    child.children.each do | c |
      if c.name == "item" || c.name == "group"
        json["children"] << group_child_to_json(c)
      end
    end
  end

  json
end

xml_array = @collection.to_preset_array
json_array = []
xml_array.each do | child |  
  json_array << child_to_json(child)
end
json_array.join(",")
-%>
<script typ="text/javascript">

  var data = <%= json_array.to_json %>;

  $(function() {
    $('#tree1').tree({
      data: data,
      autoOpen: 0,
      dragAndDrop: true,
      useContextMenu: false,
      onCreateLi: function(node, $li) {
        // Add 'icon' span before title
        var icon="";
        if (node.icon){
         icon = "<img src='/icons/"+node.icon+"' width='32px' height='32px'  />";
        }else{
          icon = "<img src='/icons/styles/standard/empty.png' width='32px' height='32px' />";
        }
        $li.find('.jqtree-title').before('<span class="icon">'+icon+'</span>');
       
      },
      onCanMoveTo: function(moved_node, target_node, position) {
        if (position == "inside" && target_node.type =="item") {
          return false;
        } else {
          return true;
        }
      }


    });
    //console.log($('#tree1').tree('toJson'));
  });
  
</script>

<h3>Name: <%= @collection.name%></h3>
<p>Preset filename: <%= @collection.original_filename %> (<a href="<%= "/collection/#{@collection.id}/validate" %>">Validate this</a>) </p>

<a href='<%="/collection/#{@collection.id}/edit"%>' >Edit Collection</a>
<form action='<%="/collection/#{@collection.id}"%>' method="post"
      onsubmit="return confirm('Are you sure you want to delete this collection?')" class="delete_form" >
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Collection" />
</form>

<p>
  <a href='<%= "/collection/#{@collection.id}.xml" %>' target="_new">Download as simple XML preset</a> suitable for use in the <a href="http://hot-export.geofabrik.de/">HOT Exports Application.</a>
</p>

<h4>JOSM Preset </h4>
<div id="tree1"></div>

<h4>Separating <%= @collection.tags.count %> Tags</h4>

<p>
  <a href="<%= "/collection/#{@collection.id}/tag" %>">Add New Tag</a>
</p>

<% @collection.tags.group_by(&:osm_type).each do | osm_type, tags | %>
    <b><%= osm_type %></b> <br />
    <% tags.each do | tag | %>
      <%="<a href='/collection/#{@collection.id}/tag/#{tag.id}'>#{tag.key}</a>" %><br />
    <% end  %>
<% end  %>
