<h2><%= t.presets_head @collections.count%> </h2>

<p>
  <%= t.presets_intro %>
   <br />
   <a href="/upload"><%= t.upload %></a>
  <br />
  Or
  <br />
  <a href="/collection/new"> <%= t.create_new %></a>
</p>
<% @collections.each do | coll | %>
  <%= coll.created_at.strftime("%d-%m-%y %I:%M") %>  
    <% if coll.default %>
      <img src="/star-icon.png" width="15px" height="15px" alt="Default star" title="Default Preset" />
    <% end %>
  <%="<a href='/collection/#{coll.id}'>#{coll.name}</a>" %><br />

<% end  %>

<div class="vt_pagination">
    <%= will_paginate @collections %>
</div>
