<h2> <%= t.validate.head @collection.id %></h2>

<h3>Name: <%= @collection.name%>. File: <%= @collection.original_filename %></h3>
<p> <%= t.validate.intro %><%= @collection.original_filename %> <br />
  <%= t.validate.with %>
</p>
<h2><%= t.validate.results %></h2>
<% if @valid == true %>
  <p>
    <%= t.validate.truet %>
  </p>
<% else %>
  <p>
    <%= t.validate.errort %>
  </p>
  <div class="validation_errors">
    <%= @valid %>
  </div>
<% end %>
