<script type="text/javascript">
$(function() {
 $( "#button" ).button();   
});
</script>

<h2> <%= t.export.head @collection.id %> </h2>
<p><%= t.export.description "http://hot-export.geofabrik.de/uploads/new" %></p>
<h3>Name: <%= @collection.name%></h3>

  Author: <%= @collection.author %> <br />
  Description: <%= @collection.description %><br />
  Short Desc: <%= @collection.shortdescription %><br />
  Version: <%= @collection.version %> </p>

<form action="/collection/<%=@collection.id%>/export_upload"  id="export_upload" method="post">
<fieldset>
<legend><%= t.export.legend %></legend>
  <input type="hidden" name="export_upload" value="true" />
  <label for="email">HOT Exports Email / Login </label><input type="text" name="email" /> <br />
  <label for="password">HOT Exports Password </label><input type="password" name="password" /><br />
  <input type="submit" value="<%= t.export.button %>" id="button" />
</fieldset>
</form>
<% 
