<h2><%= t.preset_head @collection.id %> </h2>
<%= erb(:preset_tree, :layout => false, :locals=>{:editable => "false"}) %>

<h3>Name: <%= @collection.name%></h3>
<% if @collection.original_filename %>
  <p>Original Preset filename: <%= @collection.original_filename %> (<a href="<%= "/collection/#{@collection.id}/validate" %>"><%= t.validate_this %></a>) <br />
<% end %>
Author: <%= @collection.author %> <br />
Description: <%= @collection.description %><br />
Short Desc: <%= @collection.shortdescription %><br />
Version: <%= @collection.version %> </p>


  <a href='<%="/collection/#{@collection.id}/edit"%>' ><%= t.edit_preset %></a>
<form action='<%="/collection/#{@collection.id}"%>' method="post"
      onsubmit="return confirm('<%= t.delete_preset_confirm  %>')" class="delete_form" >
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="<%= t.delete_preset %>" />
</form>
<br />
<span class="clone_link"><a href="/collection/<%= @collection.id %>/clone"><%= t.clone_preset %></a></span>

<h4>JOSM Preset</h4>
<div id="tree_container">
  <div id="item_tree"></div>
  <div id="tag_tree_container">
    <div id="tag_tree_title"><%= t.tag_tree_title %><br />&nbsp;</div>
    <div id="tag_tree"></div>
  </div>
</div>

<p>
  <a href='<%= "/collection/#{@collection.id}.xml" %>' target="_new"><%= t.download_preset %>
</p>