<h2><%= t.presets_head @collections.count%> </h2>

<p>
  <%= t.presets_intro %>
   <br />
   <a href="/upload"><%= t.upload %></a>
  <br />
  Or
  <br />
  <a href="/collection/new"> <%= t.create_new %></a>
</p>
<% @collections.each do | coll | %>

  <%= coll.created_at.strftime("%d-%m-%y %I:%M") %>  <%="<a href='/collection/#{coll.id}'>#{coll.name}</a>" %><br />

<% end  %>

