<h2>Viewing Collection <%=  @collection.id %> </h2>
<%= erb(:preset_tree, :layout => false, :locals=>{:editable => "false"}) %>

<h3>Name: <%= @collection.name%></h3>
<% if @collection.original_filename %>
  <p>Original Preset filename: <%= @collection.original_filename %> (<a href="<%= "/collection/#{@collection.id}/validate" %>">Validate this</a>) <br />
<% end %>
Author: <%= @collection.author %> <br />
Description: <%= @collection.description %><br />
Short Desc: <%= @collection.shortdescription %><br />
Version: <%= @collection.version %> </p>


<a href='<%="/collection/#{@collection.id}/edit"%>' >Edit Collection</a>
<form action='<%="/collection/#{@collection.id}"%>' method="post"
      onsubmit="return confirm('Are you sure you want to delete this collection?')" class="delete_form" >
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Collection" />
</form>

<h4>JOSM Preset </h4>
<div id="tree_container">
  <div id="tag_tree"></div>
  <div id="item_tree_container">
    <div id="item_tree_title">Preset Form Details<br />&nbsp;</div>
    <div id="item_tree"></div>
  </div>
</div>

<p>
  <a href='<%= "/collection/#{@collection.id}.xml" %>' target="_new">Download as XML preset</a> suitable for use in the <a href="http://hot-export.geofabrik.de/">HOT Exports Application.</a>
</p>