<form action='<%=  action %>' id="collection_form" method="post">
  <fieldset>
    <legend>Edit Collection</legend>
    <input type="hidden" name="_method" value="<%= method %>" />
    <input type="hidden" name="collection[custom_preset]" id="custom_preset" value="" />

    <p><label for="collection[name]">Name:</label>
      <input type="text" name="collection[name]" value="<%= collection.name %>" />
    </p>
    <p><label for="collection[author]">Author:</label>
      <input type="text" name="collection[author]" value="<%= collection.author %>" />
    </p>
    <p><label for="collection[description]">Description:</label>
      <input type="text" name="collection[description]" value="<%= collection.description %>" />
    </p>
    <p><label for="collection[shortdescription]">Short Description:</label>
      <input type="text" name="collection[shortdescription]" value="<%= collection.shortdescription %>" />
    </p>
    <p><label for="collection[version]">Version:</label>
      <input type="text" name="collection[version]" value="<%= collection.version %>" />
    </p>
    <input type="submit" id="button" value="Save All Changes" />
  </fieldset>
</form>