<h2>Viewing Collection <%=  @collection.id %> </h2>
<%= erb(:preset_tree, :layout => false, :locals=>{:editable => "false"}) %>

<script type="text/javascript">
$(function() {
  $('#tags_toggle').click(function(){
    $('#tags_detail').toggle();
  });

});
</script>
<h3>Name: <%= @collection.name%></h3>
<p>Preset filename: <%= @collection.original_filename %> (<a href="<%= "/collection/#{@collection.id}/validate" %>">Validate this</a>) </p>

<a href='<%="/collection/#{@collection.id}/edit"%>' >Edit Collection</a>
<form action='<%="/collection/#{@collection.id}"%>' method="post"
      onsubmit="return confirm('Are you sure you want to delete this collection?')" class="delete_form" >
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Collection" />
</form>

<p>
  <a href='<%= "/collection/#{@collection.id}.xml" %>' target="_new">Download as simple XML preset</a> suitable for use in the <a href="http://hot-export.geofabrik.de/">HOT Exports Application.</a>
</p>

<h4>JOSM Preset </h4>
<div id="tag_tree"></div>

<h4><a href="#" id="tags_toggle"><%= @collection.tags.count %> Tags Detail</a></h4>
<div id="tags_detail" style="display:none">
  <p>
    <a href="<%= "/collection/#{@collection.id}/tag" %>">Add New Tag</a>
  </p>

  <% @collection.tags.group_by(&:osm_type).each do | osm_type, tags | %>
      <b><%= osm_type %></b> <br />
      <% tags.each do | tag | %>
        <%="<a href='/collection/#{@collection.id}/tag/#{tag.id}'>#{tag.key}</a>" %><br />
      <% end  %>
  <% end  %>
</div>