<h2>Viewing Collection <%=  @collection.id %> </h2>

<h3>Name: <%= @collection.name%></h3>
<p>Preset filename: <%= @collection.original_filename %></p>

<a href='<%="/collection/#{@collection.id}/edit"%>' >Edit Collection</a>
<form action='<%="/collection/#{@collection.id}"%>' method="post"
      onsubmit="return confirm('Are you sure you want to delete this collection?')" class="delete_form" >
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Collection" />
</form>

<p>
  <a href='<%= "/collection/#{@collection.id}.xml" %>' target="_new">Download as simple XML preset</a> suitable for use in the <a href="http://hot-export.geofabrik.de/">HOT Exports Application.</a>
</p>
<h4><%= @collection.tags.count %> Tags</h4>

<p>
  <a href="<%= "/collection/#{@collection.id}/tag" %>">Add New Tag</a>
</p>

<% @collection.tags.each do | tag | %>

  <%="<a href='/collection/#{@collection.id}/tag/#{tag.id}'>#{tag.key}</a>" %><br />

<% end  %>
