<h2><%= t.home.title %></h2>
<p>
  <%= t.home.about %><br />
  <img class="home" src="/josm_preset.png" width="500" height="197" alt="JOSM Preset and Complex XML Code." title="JOSM Preset and Complex XML Code."/>
</p>
<p>
  <%= t.home.solution %><br />
  <img class="home" src="/preset_builder.png" width="500" height="304" alt="Visual tags chooser and josm preset builder" title="Easier to make presets using the Visual tags chooser."/>
</p>
<p>
  <%= t.home.you_can %>
</p>
<h2><%= t.home.can_upload %></h2>
<a href="/upload"><%= t.home.can_upload %></a>

<h2><%= t.home.can_new %></h2>
<a href="/collection/new"><%= t.home.can_new %></a>

<h2><%= t.home.can_list %></h2>
<a href="/collections"><%= t.home.can_list %></a>