<h2><%= t.home.title %></h2>
<p>
  <%= t.home.about %>
</p>
<p>
  <%= t.home.solution %>
</p>
<p>
  <%= t.home.you_can %>
</p>
<h2><%= t.home.can_upload %></h2>
<a href="/upload"><%= t.home.can_upload %></a>

<h2><%= t.home.can_new %></h2>
<a href="/collection/new"><%= t.home.can_new %></a>

<h2><%= t.home.can_list %></h2>
<a href="/collections"><%= t.home.can_list %></a>