<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= t.title %></title>
    <script type="text/javascript" src="/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/jquery-ui-1.10.3.custom.min.js"></script>
    <link rel="stylesheet" href="/css/sunny/jquery-ui-1.10.3.custom.min.css" />

    <script type="text/javascript" src="/tree.jquery.dev.js"></script>
    <link rel="stylesheet" href="/jqtree.css" />

    <script type="text/javascript" src="/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />

    <link rel="stylesheet"  type="text/css" href="/select2.css" />
    <meta name="description" content="Application to make JOSM presets for OpenStreetMap. Allows users to visually choose tags for use in the HOT exports tool" />
    <meta name="author" content="Humanitarian OpenStreetMap Team" />
  </head>
  <body>
    <div id="wrapper">

      <div id="header" style="background-image: url(/red-header.png);">
        <div class="logo">
        <h1><%= t.title %></h1>
        </div>
        <div class="nav">
          <a href="/"><%= t.nav.home %></a>&emsp;
          <a href="/collections"><%= t.nav.presets %></a>&emsp;
          <a href="/upload"><%= t.nav.upload %></a>
        </div>
      </div>

      <div id="content">
        <%= styled_flash %>
        <%= yield %>
      </div>

      <div id="footer">
        <div class="tiny"><a href="http://hot.openstreetmap.org/" target="_blank"><img alt="HOT logo" src="/hot-sml-logo.png" title="Humanitarian OpenStreetMap Team" /></a>Copyright© 2013 Humanitarian OpenStreetMap Team &emsp;<%= t.title %></div>
      </div>

    </div>
  </body>
</html>
